* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    overflow-x: hidden;
    cursor: default;
}

@font-face {
    font-family: Inter-Italic;
    src: url(/rsschool-landing-page/fonts/Inter_18pt-Italic.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(/rsschool-landing-page/fonts/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: Inter-Semi Bold;
    src: url(/rsschool-landing-page/fonts/Inter_18pt-SemiBold.ttf);
}

a {
    text-decoration: none;
}

/*=============Block Header=============*/

#Header {
    background: #E1D4C9;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}
.header-menu {
    width: 1440px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation {
    display: flex;
    list-style-type: none;
    color: #403F3D;
    font-family: Inter-Semi Bold;
    font-size: 16px;
    line-height: 150%;
    gap: 40px;
}
.header-actions {
    display: flex;
    gap: 24px;
}
.header-coffee-menu {
    display: flex;
    align-items: center;
    font-family: Inter-Semi Bold;
    font-size: 16px;
    color: #403F3D;
    line-height: 150%;
    gap: 8px;
}
.header-theme-switch {
    display: flex;
    gap: 8px;
    opacity: 1;
    border-radius: 100px;
    padding: 4px;
    border: 1px solid #C1B6AD;
}
.header-backgraund-sun {
    border-radius: 100px;
    background-color: #B0907A;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-backgraund-moon {
    border-radius: 100px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero {
    position: relative;
    display: flex;
    justify-content: center;
    background: #E1D4C9;
}
.hero-container {
    position: absolute;
    width: 100%;
    max-width: 530px;
    height: auto;
    min-height: 444px;  
    top: 100px;
    left: 140px;
}
.span-Enjoy {
    color: #B0907A;
    font-family: Inter-Italic;
}
h1 {
    font-family: Inter-Semi Bold;
    font-weight: 600;
    font-size: 72px;
    color: #E1D4C9;
}
.text-hero {
    font-family: Inter-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #E1D4C9;
    line-height: 150%;
}
.hero-img {
    border-radius: 40px;
    max-width: 100%;
    height: auto;
}